<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %>
   ＞ スタッフページ
</p>

<div class="container">
  <div class="staff-account-wrapper mt-5">
    <div>
        <%= link_to 'トップページ管理', tops_path, class: "btn btn-primary mt-1" %>
        <%= link_to '車両管理', stores_path, class: "btn btn-primary mt-1" %>
        <%= link_to 'お客様一覧', users_index_path, class: 'btn btn-primary mt-1' %>
        <%= link_to 'スタッフ一覧', staffs_index_path, class: 'btn btn-primary mt-1' %>
        <%= link_to 'お知らせ記事一覧', notifications_path, 'data-turbolinks': false, class: 'btn btn-primary mt-1' %>
    </div> 
    <div class="staff-info-table center">
      <table class="table">
        <thead class="table table-secondary center">
          <tr><th colspan="2">スタッフ情報 <%= link_to "編集はこちら",edit_staff_registration_path, class: "btn btn-sm btn-outline-dark"  %></th></tr>
        </thead>
        <tbody class="table table-striped">
          <tr><td>所属店舗</td><td><%= @store.name %></td></tr>
          <tr><td>お名前</td><td><%= current_staff.name %></td></tr>
          <tr><td>ふりがな</td><td><%= current_staff.kana %></td></tr>
          <tr><td>メール</td><td><%= current_staff.email %></td></tr>
          <tr><td>電話番号</td><td><%= current_staff.phone %></td></tr>
          <tr><td>住所</td><td><%= current_staff.address %></td></tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
